{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container is-max-tablet has-text-centered p-5">
    <p class="title is-2 is-uppercase pb-5 has-text-weight-bold">Why switch to <br> <span class="is-lowercase has-text-info-45">pageto.me</span></p>
    <p class="subtitle">Discover detailed insights about where your visitors come from, helping you better understand and engage with your audience.</p>
</div>
<section class="section">
    <div class="container centered">
        <div class="fixed-grid has-1-cols-mobile">
            <div class="grid">
                <div class="cell">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'image.png' %}" alt="Placeholder image"/>
                            </figure>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">Hello world</p>
                        </footer>
                    </div>
                </div>
                <div class="cell">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'image.png' %}" alt="Placeholder image"/>
                            </figure>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">Hello world</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container is-max-tablet has-text-centered p-5">
    <p class="subtitle">Explore over 50 customizable, ready-to-use <a href="templates" class="has-text-info-45">templates</a> and 20+ specialized designs, crafted to suit a variety of topics and needs.</p>
</div>
<section class="section pr-0 pl-0">
    <section class="marquee-container">
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
        <img class="marquee-item" src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image"/>
    </section>
    <style>
        .marquee-container {
            display: flex;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            font-family: sans-serif;
        }
       .marquee-item {
            font-size: clamp(2.5rem, 8vw, 5.5rem);
            text-transform: uppercase;
            font-weight: 700;
            padding: 0 0.25em;
            width: 300px;
            height: auto;
        }
        .marquee-item {
            animation: marqueeItem 3s infinite linear;      
        }
        .marquee-container:hover .marquee-item {
            animation-play-state: paused;
        }
        @keyframes marqueeItem {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-100%);
            }
        }
    </style>
</section>
{% endblock %}
