<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">        
    </head>
    <body>
        <nav class="level is-mobile p-5">
            <div class="level-left">
                <img src="C:\Users\devfe\Desktop\pagetome\templates\pagetome.PNG" width="150px" alt="logo">
            </div>
            <div class="level-right">
                <p class="level-item">
                    <h3 class="title is-6">
                        <a href="/templates" class="has-text-info">
                            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M510-570v-270h330v270H510ZM120-450v-390h330v390H120Zm390 330v-390h330v390H510Zm-390 0v-270h330v270H120Zm60-390h210v-270H180v270Zm390 330h210v-270H570v270Zm0-450h210v-150H570v150ZM180-180h210v-150H180v150Zm210-330Zm180-120Zm0 180ZM390-330Z"/></svg>
                        </a>
                        <a href="/dashboard" class="has-text-info ">
                            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M222-255q63-44 125-67.5T480-346q71 0 133.5 23.5T739-255q44-54 62.5-109T820-480q0-145-97.5-242.5T480-820q-145 0-242.5 97.5T140-480q0 61 19 116t63 109Zm257.81-195q-57.81 0-97.31-39.69-39.5-39.68-39.5-97.5 0-57.81 39.69-97.31 39.68-39.5 97.5-39.5 57.81 0 97.31 39.69 39.5 39.68 39.5 97.5 0 57.81-39.69 97.31-39.68 39.5-97.5 39.5Zm.66 370Q398-80 325-111.5t-127.5-86q-54.5-54.5-86-127.27Q80-397.53 80-480.27 80-563 111.5-635.5q31.5-72.5 86-127t127.27-86q72.76-31.5 155.5-31.5 82.73 0 155.23 31.5 72.5 31.5 127 86t86 127.03q31.5 72.53 31.5 155T848.5-325q-31.5 73-86 127.5t-127.03 86Q562.94-80 480.47-80Zm-.47-60q55 0 107.5-16T691-212q-51-36-104-55t-107-19q-54 0-107 19t-104 55q51 40 103.5 56T480-140Zm0-370q34 0 55.5-21.5T557-587q0-34-21.5-55.5T480-664q-34 0-55.5 21.5T403-587q0 34 21.5 55.5T480-510Zm0-77Zm0 374Z"/></svg>
                        </a>
                    </h3>
                </p>
            </div>
        </nav>
        <section class="section">
            <div class="container is-max-desktop">
                <div class="grid">
                    <div class="cell is-flex is-justify-content-left is-align-items-center">
                        <div>
                            <h1 class="title is-1 is-uppercase">Launch your <br class="is-hidden-tablet-only"> free link in bio!</h1>
                            <form class="columns is-mobile">
                                <div class="column is-8">
                                    <div class="control">
                                        <input class="input is-large" type="text" placeholder="username" />
                                        <a href="https://pageto.me/username" target="blank" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 200px;" class="has-text-warning">pageto.me/<span id="username">username</span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <button class="button is-large">Claim</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="cell is-flex is-justify-content-right is-align-items-center is-hidden-mobile">
                        <img src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-banner.png" style="max-height: 40vh;">
                    </div>
                </div>
            </div>
        </section>
        <div class="container is-max-tablet has-text-centered p-5">
            <p class="title is-2 is-uppercase pb-5 has-text-weight-bold">Why switch to <br> <span class="is-lowercase has-text-info-45">pageto.me</span></p>
            <p class="subtitle">Discover detailed insights about where your visitors come from, helping you better understand and engage with your audience.</p>
        </div>
        <section class="section">
            <div class="container centered">
                <div class="fixed-grid has-1-cols-mobile">
                    <div class="grid">
                    <div class="cell">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="C:\Users\devfe\Desktop\pagetome\templates\image.png" alt="Placeholder image"/>
                                </figure>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">Hello world</p>
                            </footer>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="C:\Users\devfe\Desktop\pagetome\templates\image.png" alt="Placeholder image"/>
                                </figure>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">Hello world</p>
                            </footer>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container is-max-tablet has-text-centered p-5">
            <p class="subtitle">Explore over 50 customizable, ready-to-use <a href="templates" class="has-text-info-45">templates</a> and 20+ specialized designs, crafted to suit a variety of topics and needs.</p>
        </div>
        <section class="section pr-0 pl-0">
            <section class="marquee-container">
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
                <img class="marquee-item" src="C:\Users\devfe\Desktop\pagetome\templates\000000 000000-portrait.png" alt="Placeholder image"/>
            </section>
            <style>
                .marquee-container {
                    display: flex;
                    white-space: nowrap;
                    width: 100%;
                    overflow: hidden;
                    font-family: sans-serif;
                }
               .marquee-item {
                    font-size: clamp(2.5rem, 8vw, 5.5rem);
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 0 0.25em;
                    width: 300px;
                    height: auto;
                }
                .marquee-item {
                    animation: marqueeItem 3s infinite linear;      
                }
                .marquee-container:hover .marquee-item {
                    animation-play-state: paused;
                }
                @keyframes marqueeItem {
                    from {
                        transform: translateX(0);
                    }
                    to {
                        transform: translateX(-100%);
                    }
                }
            </style>
        </section>
        <footer class="footer">
            <div class="container content">
                <div class="is-flex is-justify-content-space-between">
                  <a href="/templates" class="has-text-grey-light">Templates</a>
                  <a href="/demo" class="has-text-grey-light">Demo</a>
                  <a href="/account" class="has-text-grey-light">Account</a>
                </div>
            </div>
            <div class="container content">          
              <div class="content mt-4 is-flex is-justify-content-space-between">
                <details class="mb-2">
                  <summary class="has-text-white">Account Required?</summary>
                  <p class="pl-4">Yes, creating an account allows you to manage your links, customize your page, and access analytics.</p>
                </details>
                <details class="mb-2 pl-4">
                  <summary class="has-text-white">Track Link Performance?</summary>
                  <p class="pl-4">We provide basic analytics to track link clicks and visitor activity, helping you understand your audience better.</p>
                </details>
              </div>
            </div>
            <div class="content has-text-centered">
              <p class="py-4">© 2024 <span class="has-text-white">pageto.me</span> by <a target="blank" href="https://blackstackhub.com" class="has-text-info">Black Stack Hub</a></p>
            </div>
        </footer>
        <script>
            document.querySelector(".input").addEventListener("input", function() {
                const username = this.value || "username";
                document.getElementById("username").textContent = username;
                document.querySelector("a").href = `https://pageto.me/${username}`;
            });            
        </script>
    </body>
</html>