{% extends 'base.html' %}
{% load static %}
{% block title %}Templates{% endblock %}

{% block content %}
<div class="container is-max-tablet has-text-centered p-5">
    <p class="subtitle">Explore over 50 customizable, ready-to-use templates and 20+ specialized designs, crafted to suit a variety of topics and needs.</p>
</div>
<section class="section">
    <div class="container centered">
        <div class="fixed-grid has-2-cols-mobile has-3-cols-tablet has-4-cols-desktop">
            <div class="grid is-row-gap-5">
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
                <div class="cell is-flex is-justify-content-center">
                    <img src="{% static '000000 000000-portrait.png' %}" alt="Placeholder image" style="max-height: 40vh;"/>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
